[user]
  name = ごま
  email = gomayumax@users.noreply.github.com
	username = gomayumax
[alias]
  st = status
  br = branch
  co = checkout
  cd = checkout -d
  l = log
  cm = commit -m
  nffmerge = merge --no-ff
  logl = log --oneline
  logg = log --graph
  loglg = log --oneline --graph
  tree = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
  see = browse
  re = reset HEAD
  del-all-br = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
  pr = browse-remote --pr
  cp = cherry-pick
  refresh= !git fetch origin && git remote prune origin
[color]
        ui = auto
